numpy
pandas
scipy
scikit-learn
matplotlib
tqdm
requests
pillow
openai
tenacity
transformers
accelerate
peft
sentencepiece
open_clip_torch
geopy
vt2geojson
geopandas
pyogrio
osmnx
overturemaps
pyarrow

